/* body news */

.body__news-list {
  flex-wrap: nowrap;
  overflow: auto;
  margin-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.body__news-list::-webkit-scrollbar {
  height: 8px;
}
.body__news-list::-webkit-scrollbar-track {
  background-color: #ccc;

  border-radius: 10px;
}
.body__news-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.body__news-link-img {
  overflow: hidden;
}
.body__news-link-img img:hover {
  animation: zoomSmall linear 1s;
  -webkit-animation: zoomSmall linear 1s;
}
.body__news-link-img img {
  width: 100%;
}
.body__news-link-title {
  font-size: 2rem;
  font-family: "roboto";
  color: var(--text-color);
  line-height: 1.4;
  font-weight: 500;
  margin: 10px 0 6px 0;
}
.body__news-link-title:hover {
  color: var(--primary-color);
}
.body__news-desc {
  font-size: 1.6rem;
  color: #999;
  line-height: 1.3;
  font-weight: 500;
}
@keyframes zoomSmall {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1.1;
  }
}
